@media (max-width: 2048px) {
    .container {
        box-sizing: border-box;
        /* display: grid; */
        margin: 0;
        padding: 0;
        /* height: 100vh; */
        max-width: 2048px;
    }
    .home-container {
        display: grid;
        grid-template-columns: 0.25fr 0.25fr 2fr 1.5fr 0.5fr;
        gap: 15px;
        align-content: center;
        justify-content: center;
    }
    .home-body{
        display: grid;
        grid-template-rows: 0.03fr 1fr;
        grid-template-columns: 1fr;
        height: auto;
        z-index: 10px;
        color: white;
        width: 100%;
        margin-top: 0;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .navbar, .navpanel {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        height: 50px;
        grid-row: 1/2;
        top: 0;
        position: sticky;
        background-color: rgb(10, 10, 10);
        align-items: center;
        border-radius: 30px;
        z-index: 15;
        margin-top: 10px;
    }
    .posts-container {
        grid-row-start: 2;
    }
    .error {
        display: grid;
        grid-row-start: 2;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .error-message {
        grid-row-start: 2;
    }
    .post-box {
        height: auto;
        display: grid;
        margin: 0 30px 0 30px;
        padding: 10px 20px;
        text-align: left;
    }
    .postbox-card {
        z-index: 0;
        background:none;
        background-color: rgba(255, 255, 255, 0.02);
    }
    .searchbar {
        justify-content: center;
        background: url("https://image.flaticon.com/icons/svg/857/857779.svg") no-repeat;
        background-color: rgba(255, 255, 255, 0.05);
        color: white;
        background-position: right 5px;
        border: none;
        border-radius: 30px;
        margin-left: 30px;
        padding-left: 10px;
        height: 100%;
    }
    .searchbar:focus {
        outline: 0;
        box-shadow: 0px 0px 5px rgba(44, 54, 165, 1);
    }
    .home-sidepanel {
        grid-column-start: 4;
        grid-column-end: 5;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.03fr 1fr;
    }
    section .panel {
        display: grid;
        grid-row-start: 2;
        grid-template-rows: 0.5fr 1fr 0.75fr;
        width: 100%;
        height: 100vh;
        top: 0;
        position: sticky;
        z-index: 5;
    }
    .user-card {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        color: white;
        margin-left: 50px;
        margin-right: 50px;
        background-color: rgba(255, 255, 255, 0.02);
        border-radius: 40px;
        justify-items: center;
    align-items: center;
        /* position: sticky; */
    }
}

.navbar {
    width: 100%;
}

.navbar-brand {
    color: white;
}

.loader-container {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.form-container {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}

.login-link:hover, .signup-link:hover {
    color: rgba(215, 218, 251, 0.9);
    text-decoration: underline;
    font-weight: 500;
}

.login-form, .signup-form {
    color: white;
    justify-content: center;
    align-content: center;
    width: 25rem;
}

.login-btn, .signup-btn {
    background-color: rgb(81, 45, 168, 1);
    border: none;
    width: 25rem;
}

.login-btn:hover, .signup-btn:hover {
    background-color: rgb(81, 45, 168, 0.8);
    border: none;
}

.login-text, .signup-text {
    padding: 10px;
}

.loader-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    height: 100vh;
    /* width: 100vw; */
}

.loader-wrapper > .spinner-grow {
    margin: 10px;
}


/* @media (max-width: 1080px) {
    .container {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        height: 100vh;
        max-width: 1080px;
    }
    .home-container {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        align-content: center;
        justify-content: center;
    }
    .home-body{
        grid-column: 2/3;
        height: 100vh;
        border: 0.1mm solid rgba(255, 255, 255, 0.4);
        color: white;
    }
} */