@media (max-width: 2048px) {
    /* USER REGISTRATION AND LOGIN CSS*/
    .loader-container {
        display: grid;
        justify-content: center;
        align-content: center;
        height: 100vh;
    }

    .form-container {
        display: grid;
        justify-content: center;
        align-content: center;
        height: 100vh;
    }

    .login-link:hover, .signup-link:hover {
        color: rgba(215, 218, 251, 0.9);
        text-decoration: underline;
        font-weight: 500;
    }

    .login-form, .signup-form {
        color: white;
        justify-content: center;
        align-content: center;
        width: 25rem;
    }

    .login-btn, .signup-btn {
        background-color: rgb(81, 45, 168, 1);
        border: none;
        width: 25rem;
    }

    .login-btn:hover, .signup-btn:hover {
        background-color: rgb(81, 45, 168, 0.8);
        border: none;
    }

    .login-text, .signup-text {
        padding: 10px;
    }
/* USER REGISTRATION AND LOGIN CSS*/

/* LOADER CSS*/
    .loader-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        justify-content: center;
        align-content: center;
        height: 100vh;
        /* width: 100vw; */
    }

    .loader-wrapper > .spinner-grow {
        margin: 10px;
    }    
/* LOADER CSS*/

/* HOME PAGE CSS*/
    .container {
        box-sizing: border-box;
        /* display: grid; */
        margin: 0;
        padding: 0;
        /* height: 100vh; */
        max-width: 2048px;
    }
    .home-container {
        display: grid;
        grid-template-columns: 0.25fr 0.25fr 2fr 1.5fr 0.5fr;
        grid-template-rows: 0.03fr 1fr;
        gap: 15px;
        row-gap: 5px;
        align-content: center;
        justify-content: center;
    }
    .home-header {
        grid-column: 3/4;
        margin: 0 60px;
    }
    .home-body{
        justify-items: center;
        display: grid;
        grid-row-start: 2;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        height: auto;
        z-index: 10px;
        color: white;
        width: 100%;
        margin-top: 0;
        grid-column-start: 3;
        grid-column-end: 4;
    }
    .navpanel {
        display: none;
    }
    .headerbar /*, .navpanel*/ {
        display: grid;
        width: 690px;
        grid-template-columns: 1fr 1fr;
        height: 56px;
        grid-row: 1/2;
        position: fixed;
        background-color: rgb(10, 10, 10);
        align-items: center;
        text-align: left;
        /* border-radius: 30px; */
        /* background-color: black; */
        z-index: 10;
        /* margin: 20px; */
        padding: 0 20px;
        margin-top: 0;
    }
    .posts-container {
        grid-row-start: 2;
        margin: 0 60px 0 60px;
    }
    .error {
        display: grid;
        grid-row-start: 2;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .error-message {
        grid-row-start: 2;
    }
    .post-box {
        height: auto;
        display: grid;
        /* margin: 0 30px 0 30px; */
        padding: 10px 20px;
        text-align: left;
    }
    .postbox-card {
        z-index: 0;
        background:none;
        background-color: rgba(255, 255, 255, 0.02);
    }
    .searchbar {
        justify-content: center;
        /* background: url("https://image.flaticon.com/icons/svg/857/857779.svg") no-repeat; */
        background-color: rgba(255, 255, 255, 0.05);
        color: white;
        /* background-position: right 5px; */
        border: none;
        border-radius: 30px;
        /* margin-left: 55px; */
        padding-left: 20px;
        padding-right: 10px;
        height: 35px;
    }
    .searchbar:focus {
        background: transparent;
        outline: 0;
        box-shadow: 0px 0px 5px rgba(81, 45, 168, 1);
    }
    .home-sidepanel {
        grid-column-start: 4;
        grid-column-end: 5;
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 0.01fr 1fr; */
        grid-template-rows: 1fr;
        grid-row: 2/3;
    }
    .panel {
        justify-content: center;
        /* align-items: center; */
        width: 614px;
        display: grid;
        gap: 20px;
        grid-row-start: 2;
        grid-template-rows: 0.5fr 1fr 0.75fr;
        /* width: 100%; */
        /* height: 100%;
        top: 40px;
        position: fixed; */
        z-index: 5;
        height: inherit;
    }
    .user-card {
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        grid-row: 1/2;
        align-items: center;
        justify-items: center;
        height: 210px;
        width: 538px;
        background-color: rgba(255, 255, 255, 0.02);
        color: white;
        border-radius: 5px;
        /* padding: 30px 20px; */
    }
    .user-card-avatar {
        padding: 30px;
        grid-column: 1/2;
    }
    .user-card-buttons-container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 25px;
    }
    .user-card-button-one {
        grid-row: 1/2
    }
    .user-card-button-two {
        grid-row: 2/3;
    }
    .action-bar, .spotlight-tags {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-start: 1;
        grid-row-end: 2;
        color: white;
        width: 540px;
        height: 72px;
        /* margin-left: 50px;
        margin-right: 50px; */
        background-color: rgba(255, 255, 255, 0.02);
        border-radius: 5px;
        justify-items: center;
        align-items: center;
        /* position: sticky; */
    }
    .spotlight-tags {
        display: block;
        grid-row: 2/4;
        width: 540px;
    }

    .panel-container {
        margin-top: 10px;
        height: 100%;
        position: fixed;
        /* grid-row: 1/3; */
    }


    .text-post {
        grid-column: 1/2;
    }
    .story-post {
        grid-column: 2/3;
    }
    .image-post {
        grid-column: 3/4;
    }
    .extra-post {
        grid-column: 4/5;
    }

    .goto-profile, .create-post {
        /* background-color: ; */
        font-weight: 600;
        letter-spacing: 1px;
        background: transparent;
        border: 0.5px solid rgb(81, 45, 168, 1);
        color: white;
        border-radius: 20px;
        width: 256px;
        height: 40px;
        transition: all ease 0.1s;
    }

    .goto-profile:hover, .create-post:hover {
        /* background-color: rgb(81, 45, 168, 0.8); */
        /* transform: scale(1.005); */
        background-color: rgba(63, 35, 129, 0.15);
        box-shadow: 0px 0px 5px rgba(81, 45, 168, 1);
        /* border: none; */
        /* width: 128px; */
    }
    .goto-profile:focus, .create-post:focus {
        outline: 0;
        transform: scale(1);
    }

    .create-post-box {
        background-color: rgba(255, 255, 255, 0.02);
        animation-duration: 0.5s;
        /* -webkit-transition: height .3s ease;  */
    }

    .postbox-textarea {
        background: transparent;
        color: white;
        border: 0.2mm solid rgba(81, 45, 168, 0.8);
        border-radius: 20px;
        padding: 10px;
        width: 90%;
        height: 200px;
        /* word-wrap: break-word; */
        white-space: pre-wrap;
        overflow-y: auto;
        resize: vertical; 
        max-height: 300px; 
        min-height: 250px;
    }
    /* .postbox-textarea::-webkit-resizer {
        background-color: blue;
        background-size: 10px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        cursor: se-resize;
    } */
    /* .postbox-textarea::-webkit-resizer:hover {
        cursor: pointer;
    } */
    .postbox-textarea:focus {
        border-radius: 20px;
        outline: 0;
        border: none;
        box-shadow: 0px 0px 10px rgba(81, 45, 168, 1)
    }
    ::-webkit-scrollbar {
        display: none;
    }
    /* HOME PAGE CSS*/
}